```
# Logs
*.log
output/logs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.venv-*/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.pyc
*.pyo
*.pyd
.MF
tags
TAGS
.idlerc/
.python-version
ipynb_checkpoints/
__pycache__/
*.mo
*.pot
```